@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
    --color-prime: #ff8f52;
    --color-prime-darker: #cd5d20;
    --color-text-prime: #121212;
    --color-text-second: #838383;
    --color-border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-text-prime);
    background-color: #f2f2f2;
}

/* Header  */
.header-container {
    background-color: #fff;
}

.header {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-logo h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.header-logo span {
    color: var(--color-prime);
}

.header-links {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 23px;
    font-size: 20px;
}

.header-links .active {
    color: var(--color-prime);
}

.header-links a {
    color: var(--color-text-prime);
    text-decoration: none;
}

.header-icons {
    display: flex;
    gap: 20px;
}

.header-icons a {
    color: var(--color-text-second);
    font-size: 24px;
}

.header-icons .active {
    color: var(--color-prime);
}

/* Hero  */

.home-hero {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-hero-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
}

.home-hero-content-title {
    font-size: 60px;
    line-height: 1.4;
}

.home-hero-content-dec {
    margin-bottom: 20px;
    color: var(--color-text-second);
    font-size: 20px;
}

.home-hero-slider {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.home-hero-slider img {
    width: 192px;
    height: 192px;
    object-fit: cover;
    border-radius: 5px;
}

/* ui components  */

.btn {
    margin: 0;
    padding: 8px 14px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-prime {
    color: #fff;
    background-color: var(--color-prime);
    border: none;
    transition: background-color 0.5s;
}

.btn-prime:hover {
    background-color: var(--color-prime-darker);
}

.btn-second {
    color: var(--color-prime);
    background-color: #fff;
    border: 2px solid var(--color-prime);
    transition: color 0.5s;
}

.btn-second:hover {
    color: var(--color-prime-darker);
}

.btn-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* home section  */

.home-section {
    width: 85%;
    margin: 50px auto;
}

.home-section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.home-section-title::after,
.home-section-title::before {
    content: "---------------";
    letter-spacing: -1px;
    color: var(--color-border);
    margin: 20px;
}

.home-section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* card */
.card-product {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.card-product-img img {
    width: 265px;
    height: 235px;
    border-radius: 5px;
    object-fit: cover;
}

.card-product-title {
    margin-top: 10px;
    font-size: 22px;
}

.card-product-title a {
    color: var(--color-text-prime);
    text-decoration: none;
}

.card-product-footer {
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.card-product-price {
    color: var(--color-text-second);
}

.card-product-add-to-cart {
    cursor: pointer;
    color: var(--color-prime);
    display: flex;
    gap: 5px;
}

.card-testimonial {
    padding: 15px 20px;
    background-color: #fff;
    display: flex;
    gap: 20px;
    border-radius: 5px;
    width: 32%;
}

.card-testimonial-img {
    width: 58px;
    height: 58px;
    object-fit: cover;
    border-radius: 100%;
}

.card-testimonial-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-testimonial-name {
    font-weight: 500;
}

.card-testimonial-text {
    color: var(--color-text-second);
    line-height: 1.5;
}

.card-testimonial-rate {
    margin-top: 10px;
    display: flex;
    gap: 5px;
    color: var(--color-border);
}

.card-testimonial-rate .active {
    color: var(--color-prime);
}

/* Shop page  */

.shop-products {
    width: 85%;
    margin: 20px auto;
    display: flex;
    gap: 25px;
}

/* Auth:Login and register page */

.auth-container {
    width: 65%;
    margin: 50px auto;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 30px 50px;
}

.auth-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.auth-form-title {
    font-size: 32px;
}

.auth-form-dec {
    margin-top: 5px;
    font-size: 16px;
    color: var(--color-text-second);
}

.auth-back-to-home a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-text-prime);
    text-decoration: none;
}

.auth-back-to-home a svg {
    color: var(--color-prime);
}

.auth-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-auth {
    margin-top: 50px;
    width: 100%;
    padding: 15px 10px;
}

.auth-form-footer {
    margin-top: auto;
    text-align: center;
}

.auth-form-footer a {
    color: var(--color-prime);
    text-decoration: none;
}

.auth-img {
    width: 50%;
    height: 600px;
}

.auth-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Inputs */

.input-text {
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

/* Flower page  */

.flower-container {
    width: 85%;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px;
    display: flex;
    gap: 40px;
}

.flower-img img {
    width: 356px;
    height: 326px;
    object-fit: cover;
    border-radius: 5px;
}

.flower-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flower-title {
    font-size: 22px;
    font-weight: 400;
}

.flower-desc {
    color: var(--color-text-second);
    font-size: 22px;
    line-height: 1.5;
}

.flower-info-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.flower-price {
    font-size: 22px;
}

/* Cart page */

.cart-empty,
.orders-empty {
    background-color: #fff;
    width: 40%;
    margin: 50px auto;
    height: 50vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.orders-empty {
    height: auto;
}

.cart-empty-icon,
.orders-empty-icon {
    color: rgb(230, 230, 230);
    font-size: 100px;
}

.cart-empty-text,
.orders-empty-text {
    color: var(--color-text-second);
}

.cart-empty a,
.orders-empty a {
    color: var(--color-prime);
    text-decoration: none;
}

.cart-container {
    width: 85%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.cart-items-container {
    grid-column: 1/ 9;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 40px;
}

.cart-items-title {
    font-size: 20px;
    color: var(--color-text-second);
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    gap: 30px;
}

.cart-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.cart-item-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-img img {
    width: 164px;
    height: 164px;
    object-fit: cover;
    border-radius: 5px;
}

.cart-item-title {
    margin-top: 5px;
    font-size: 18px;
}

.cart-item-title a {
    color: var(--color-text-prime);
    text-decoration: none;
}

.cart-item-remove {
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.cart-item-count-container {
    display: flex;
    gap: 10px;
    border: 1px solid var(--color-prime);
    padding: 2px 5px;
    border-radius: 5px;
    align-items: center;
}

.cart-item-count-inc,
.cart-item-count-dec {
    font-size: 20px;
    cursor: pointer;
    color: var(--color-prime);
}

.cart-checkout {
    grid-column: 10/ 13;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    align-self: flex-start;
    font-size: 18px;
}

.cart-checkout-btn {
    width: 100%;
    margin-top: 20px;
}

.cart-checkout-btn a {
    color: #fff;
    text-decoration: none;
}

/* USER PANEL */

.user-panel {
    margin: 40px auto;
    background-color: #fff;
    width: 85%;
    border-radius: 5px;
    min-height: 70vh;
    display: flex;
}

.user-panel-sidebar {
    padding: 20px 40px;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #f2f2f2;
}

.sidebar-user-info-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sidebar-user-img img {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-radius: 100%;
}

.sidebar-user-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sidebar-user-name {
    font-size: 20px;
}

.sidebar-user-logout {
    font-size: 16px;
    color: var(--color-text-second);
    cursor: pointer;
}

.sidebar-links {
    margin-top: 40px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-links {
    margin-top: 40px;
    padding-left: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-links a {
    color: var(--color-text-second);
    text-decoration: none;
}

.user-panel-sidebar-footer {
    margin-top: auto;
}

.user-panel-sidebar-footer a {
    color: var(--color-text-second);
    text-decoration: none;
}

.text-with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-panel-body {
    width: 80%;
}

.user-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    border-bottom: 1px solid #f2f2f2;
}

.user-panel-header {
    font-size: 24px;
}

.user-panel-content {
    padding: 20px 30px;
}

/* User information */

.user-info-container {
    display: flex;
    gap: 40px;
}

.user-panel-content-user-img img {
    width: 164px;
    height: 164px;
    object-fit: cover;
    border-radius: 100%;
}

.user-panel-content-user-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.panel-user-info-address {
    grid-column: span 2;
}

.group-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.data-label {
    color: var(--color-text-second);
    font-size: 16px;
}

.data {
    font-size: 20px;
}

/* User orders */
.user-orders-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-orders-list-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-orders-list-item-header {
    display: flex;
    gap: 20px;
}

.user-orders-list-item-products {
    list-style: none;
    display: flex;
    gap: 10px;
}

.user-orders-list-item-more-detail {
    color: var(--color-prime);
    cursor: pointer;
}

.user-orders-list-item-products img {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 5px;
}

/* Footer */

footer {
    margin-top: 100px;
    position: relative;
    bottom: 0;
    background-color: #e7e7e7;
}

.footer-container {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.footer-card:first-child {
    grid-column: span 2;
}

.footer-site-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-site-title span {
    color: var(--color-prime);
}

.footer-site-decs {
    max-width: 40ch;
    line-height: 1.8;
    color: var(--color-text-second);
}

.footer-card-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
}

.footer-links a {
    color: var(--color-text-second);
    text-decoration: none;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-text {
    display: flex;
    gap: 10px;
    color: var(--color-text-second);
}

.footer-byline {
    width: 50%;
    margin: auto;
    border-top: 2px solid var(--color-border);
    text-align: center;
    padding: 10px;
    color: var(--color-text-second);
    font-size: 14px;
}

.footer-byline a {
    color: var(--color-prime);
}
